.mainContainer {
    background: linear-gradient(to bottom, #e0f2f1, #f3f9f7);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}